.containerItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: .2vw solid black;
  border-radius: 1vw;
  margin: .5vw .5vw;
  background-image: url("https://source.unsplash.com/random/1600x1200?weather");
}